INB374/INB374/Service References/supplierService/supplierWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getWaitTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getWaitTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getWaitTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="restockWarehouse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderQueue" type="tns:ArrayOfOrderQueue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOrderQueue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderQueue" nillable="true" type="tns:OrderQueue" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderQueue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="restockWarehouseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="restockWarehouseResult" type="tns:ArrayOfProduct" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProduct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Product">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="productName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="quantityInStock" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="msrp" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="inStore" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getWaitTimeSoapIn">
    <wsdl:part name="parameters" element="tns:getWaitTime" />
  </wsdl:message>
  <wsdl:message name="getWaitTimeSoapOut">
    <wsdl:part name="parameters" element="tns:getWaitTimeResponse" />
  </wsdl:message>
  <wsdl:message name="restockWarehouseSoapIn">
    <wsdl:part name="parameters" element="tns:restockWarehouse" />
  </wsdl:message>
  <wsdl:message name="restockWarehouseSoapOut">
    <wsdl:part name="parameters" element="tns:restockWarehouseResponse" />
  </wsdl:message>
  <wsdl:portType name="supplierWebServiceSoap">
    <wsdl:operation name="getWaitTime">
      <wsdl:input message="tns:getWaitTimeSoapIn" />
      <wsdl:output message="tns:getWaitTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="restockWarehouse">
      <wsdl:input message="tns:restockWarehouseSoapIn" />
      <wsdl:output message="tns:restockWarehouseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="supplierWebServiceSoap" type="tns:supplierWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getWaitTime">
      <soap:operation soapAction="http://tempuri.org/getWaitTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restockWarehouse">
      <soap:operation soapAction="http://tempuri.org/restockWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="supplierWebServiceSoap12" type="tns:supplierWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getWaitTime">
      <soap12:operation soapAction="http://tempuri.org/getWaitTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restockWarehouse">
      <soap12:operation soapAction="http://tempuri.org/restockWarehouse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="supplierWebService">
    <wsdl:port name="supplierWebServiceSoap" binding="tns:supplierWebServiceSoap">
      <soap:address location="http://fastapps04.qut.edu.au/n8510873/supplierService/supplierWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="supplierWebServiceSoap12" binding="tns:supplierWebServiceSoap12">
      <soap12:address location="http://fastapps04.qut.edu.au/n8510873/supplierService/supplierWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>