INB374/INB374/Service References/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="order" type="tns:Order" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Order">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="orderNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="customers_customerNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="orderDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="shippingDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="comments" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="addOrderResponse">
        <s:complexType />
      </s:element>
      <s:element name="addOrderDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderDetails" type="tns:OrderDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OrderDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="orders_orderNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="quantityOrdered" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="priceEach" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="addOrderDetailsResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="addOrderSoapIn">
    <wsdl:part name="parameters" element="tns:addOrder" />
  </wsdl:message>
  <wsdl:message name="addOrderSoapOut">
    <wsdl:part name="parameters" element="tns:addOrderResponse" />
  </wsdl:message>
  <wsdl:message name="addOrderDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:addOrderDetails" />
  </wsdl:message>
  <wsdl:message name="addOrderDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:addOrderDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addOrder">
      <wsdl:input message="tns:addOrderSoapIn" />
      <wsdl:output message="tns:addOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addOrderDetails">
      <wsdl:input message="tns:addOrderDetailsSoapIn" />
      <wsdl:output message="tns:addOrderDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addOrder">
      <soap:operation soapAction="http://tempuri.org/addOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addOrderDetails">
      <soap:operation soapAction="http://tempuri.org/addOrderDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addOrder">
      <soap12:operation soapAction="http://tempuri.org/addOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addOrderDetails">
      <soap12:operation soapAction="http://tempuri.org/addOrderDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://fastapps04.qut.edu.au/n8571520/WebApplication2/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://fastapps04.qut.edu.au/n8571520/WebApplication2/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>