INB374/INB374/Service References/orderService/orderWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="addOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="order" type="tns:Order" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Order">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="orderNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="customers_customerNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="orderDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="shippingDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="comments" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="addOrderResponse">
        <s:complexType />
      </s:element>
      <s:element name="addOrderDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderDetails" type="tns:OrderDetails" />
            <s:element minOccurs="1" maxOccurs="1" name="quantityStocked" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OrderDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="orders_orderNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="quantityOrdered" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="priceEach" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="addOrderDetailsResponse">
        <s:complexType />
      </s:element>
      <s:element name="updateExistingOrders">
        <s:complexType />
      </s:element>
      <s:element name="updateExistingOrdersResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="addOrderSoapIn">
    <wsdl:part name="parameters" element="tns:addOrder" />
  </wsdl:message>
  <wsdl:message name="addOrderSoapOut">
    <wsdl:part name="parameters" element="tns:addOrderResponse" />
  </wsdl:message>
  <wsdl:message name="addOrderDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:addOrderDetails" />
  </wsdl:message>
  <wsdl:message name="addOrderDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:addOrderDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="updateExistingOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:updateExistingOrders" />
  </wsdl:message>
  <wsdl:message name="updateExistingOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:updateExistingOrdersResponse" />
  </wsdl:message>
  <wsdl:portType name="orderWebServiceSoap">
    <wsdl:operation name="addOrder">
      <wsdl:input message="tns:addOrderSoapIn" />
      <wsdl:output message="tns:addOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addOrderDetails">
      <wsdl:input message="tns:addOrderDetailsSoapIn" />
      <wsdl:output message="tns:addOrderDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateExistingOrders">
      <wsdl:input message="tns:updateExistingOrdersSoapIn" />
      <wsdl:output message="tns:updateExistingOrdersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="orderWebServiceSoap" type="tns:orderWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addOrder">
      <soap:operation soapAction="http://tempuri.org/addOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addOrderDetails">
      <soap:operation soapAction="http://tempuri.org/addOrderDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateExistingOrders">
      <soap:operation soapAction="http://tempuri.org/updateExistingOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="orderWebServiceSoap12" type="tns:orderWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addOrder">
      <soap12:operation soapAction="http://tempuri.org/addOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addOrderDetails">
      <soap12:operation soapAction="http://tempuri.org/addOrderDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateExistingOrders">
      <soap12:operation soapAction="http://tempuri.org/updateExistingOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="orderWebService">
    <wsdl:port name="orderWebServiceSoap" binding="tns:orderWebServiceSoap">
      <soap:address location="http://localhost:63718/orderWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="orderWebServiceSoap12" binding="tns:orderWebServiceSoap12">
      <soap12:address location="http://localhost:63718/orderWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>